server:
  port: 4000

spring:
  application:
      name: uengine-eureka-zuul
  profiles:
    active: "dev"

deployment:
  url:
    prod: localhost
    dev: 127.0.0.1

zuul:
#  ignored-services: "*"
  #Service will be mapped under the /api URI
#  prefix: /api
  routes:
    uengine-eureka-client:
      path: /definition/**
      serviceId: definition

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 2000

ribbon:
  # Max number of retries on the same server (excluding the first try)
  MaxAutoRetries: 1

  # Max number of next servers to retry (excluding the first server)
  MaxAutoRetriesNextServer: 1

  # Whether all operations can be retried for this client
  OkToRetryOnAllOperations: true

  # Interval to refresh the server list from the source
  ServerListRefreshInterval: 2000

  # Connect timeout used by Apache HttpClient
  ConnectTimeout: 3000

  # Read timeout used by Apache HttpClient
  ReadTimeout: 3000

  # Initial list of servers, can be changed via Archaius dynamic property at runtime
  #listOfServers: www.microsoft.com:80,www.yahoo.com:80,www.google.com:80

turbine:
  appConfig: uengine-eureka-client
  clusterNameExpression: "'default'"

---
spring:
  profiles: dev

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    healthcheck:
      enabled: true

---
spring:
  profiles: docker

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    healthcheck:
      enabled: true
