<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@0.7.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.1/dist/vue-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



</head>
<body>

<script>

    Vue.use(VueMaterial)

</script>


<script src="http://rawgit.com/TheOpenCloudEngine/metaworks4/master/src/main/resources/static/object-grid.js"></script>
<script src="http://rawgit.com/TheOpenCloudEngine/metaworks4/master/src/main/resources/static/object-form.js"></script>
<script src="http://rawgit.com/TheOpenCloudEngine/metaworks4/master/src/main/resources/static/service-locator.js"></script>
<script src="http://rawgit.com/TheOpenCloudEngine/metaworks4/master/src/main/resources/static/class-selector.js"></script>

<script src="http://rawgit.com/TheOpenCloudEngine/metaworks4/master/src/main/resources/static/iam-client/jqeury.js" charset="utf-8"></script>
<script src="http://rawgit.com/TheOpenCloudEngine/metaworks4/master/src/main/resources/static/iam-client/iam-client.js" charset="utf-8"></script>
<script src="http://rawgit.com/TheOpenCloudEngine/metaworks4/master/src/main/resources/static/iam-login.js"></script>

<script src="ssp-class.js"></script>

<div id="app">

    <iam-login iam-server="http://iam.uengine.io:8080" ref="login" :listener="$root" v-if="!loggedIn"></iam-login>

    <service-locator host="http://localhost:8080" ref="backend"></service-locator>

    <md-tabs id="tab" @change="tabChanged" v-if="loggedIn">
        <md-tab id="customers" md-label="Customers">

            <object-grid ref="grid"
                     java="org.uengine.social.service.instance.ProcessInstance"
                     :filter-key="searchQuery"
                     :column-changer="columnChanger"
                     :online = "true"
                     :data = "[]"
                     :options="{pagination: true, toolbar: true}"
                     service-locator = "backend"
                     v-if="loggedIn"
            >
            </object-grid>
        </md-tab>
        <md-tab id="ssp-customer" md-label="Selfservice - Class management">
            <ssp-class
                java="org.uengine.social.service.instance.ProcessInstance"
                service-locator="backend">
            </ssp-class>
        </md-tab>
    </md-tabs>

</div>

<script>

    var app = new Vue({
        el: '#app',
        props: {loggedIn: Boolean},

        methods: {

            onLoggedIn: function(){
                this.loggedIn = true;
            },


        }

    })


</script>






</body>
</html>
