<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@0.7.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.1/dist/vue-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



</head>
<body>

<script>

    Vue.use(VueMaterial)

</script>


<script src="http://rawgit.com/TheOpenCloudEngine/metaworks4/master/src/main/resources/static/object-grid.js"></script>
<script src="http://rawgit.com/TheOpenCloudEngine/metaworks4/master/src/main/resources/static/object-form.js"></script>
<script src="http://rawgit.com/TheOpenCloudEngine/metaworks4/master/src/main/resources/static/service-locator.js"></script>

<script src="http://rawgit.com/TheOpenCloudEngine/metaworks4/master/src/main/resources/static/iam-client/jqeury.js" charset="utf-8"></script>
<script src="http://rawgit.com/TheOpenCloudEngine/metaworks4/master/src/main/resources/static/iam-client/iam-client.js" charset="utf-8"></script>
<script src="http://rawgit.com/TheOpenCloudEngine/metaworks4/master/src/main/resources/static/iam-login.js"></script>


<div id="app">

    <iam-login iam-server="http://iam.uengine.io:8080" ref="login" id="jyjang@uengine.org" :listener="$root" v-if="!loggedIn"></iam-login>

    <service-locator host="http://localhost:8080" ref="backend"></service-locator>

    <md-tabs id="tab" @change="tabChanged" v-if="loggedIn">
        <md-tab id="name-and-address" md-label="Name And Address">
            <object-form ref="customer-form"
                         java="com.autoinsurance.Customer"
                         :data = "{}"
                         service-locator = "backend"
            >
            </object-form>

        </md-tab>

        <md-tab id="vehicles" md-label="Vehicles">

            <section>
                <object-grid ref="grid"
                             java="com.autoinsurance.Vehicle"
                             :filter-key="searchQuery"
                             :column-changer="columnChanger"
                             :online = "true"
                             :data = "[]"
                             :options="{pagination: true, toolbar: true}"
                             service-locator = "backend"
                >
                </object-grid>
            </section>

            <md-button class="md-fab md-fab-bottom-right" id="fab" @click.native="$refs['dialog'].open()">
                <md-icon>add-box</md-icon>
            </md-button>

            <md-dialog md-open-from="#fab" md-close-to="#fab" ref="dialog">
                <md-dialog-title>차량 등록</md-dialog-title>

                <md-dialog-content>
                    <object-form ref="vehicle-form"
                                 java="com.autoinsurance.Vehicle"
                                 :data = "{customer: {}}"
                                 :event-listeners = "['grid']"
                                 service-locator = "backend"
                    >
                    </object-form>
                </md-dialog-content>

                <md-dialog-actions>
                    <md-button class="md-primary" @click.native="$refs['vehicle-form'].submit_(); $refs['dialog'].close()">저장</md-button>
                    <md-button class="md-primary" @click.native="$refs['dialog'].close()">닫기</md-button>
                </md-dialog-actions>
            </md-dialog>

        </md-tab>

        <md-tab id="your-rate" md-label="Your Rate">
            <p>산출 보험료는 1000원입니다.</p>
        </md-tab>

    </md-tabs>

</div>

<script>

    var app = new Vue({
        el: '#app',
        data: {
            saved: false, first: true, loggedIn: false
        },
//        watch: {
//          "loginResult": function(val){
//              console.log(val)
//          }
//
//        },
//
//        computed: {
//
//            logged: function(){
//
//                return this.loginResult.loggedIn;
//            }
//
//        },

        methods: {
            onLoggedIn: function(){
               this.loggedIn = true;
            },
            tabChanged: function(){
                if(this.first){
                    this.first = false;
                    return;
                }

                if(!this.saved){ //if initial state
                    this.$refs['customer-form'].submit_();
                    this.$refs['vehicle-form'].data.customer = this.$refs['customer-form'].data._links.self.href;
                    this.saved = true;
                }
            }
        }


    })


</script>






</body>
</html>