<md-card>

    <md-card-header>
        <div class="md-title">Login</div>
        <div class="md-subhead">Please Login</div>
    </md-card-header>
    <md-card-content>

        <form novalidate @submit.stop.prevent="submit">
            <md-input-container>
                <label>E-Mail</label>
                <md-input v-model="credential.id"></md-input>
            </md-input-container>

            <md-input-container md-has-password>
                <label>Password</label>
                <md-input v-model="credential.password" type="password"></md-input>
            </md-input-container>
        </form>
    </md-card-content>


    <md-card-actions>
        <md-button class="md-primary" @click.native="login()">로그인</md-button>
    </md-card-actions>

</md-card>